:root{
    --main-bg: #EDEDED;
    --footer-bg-promo: #1E2c20;
    --stroke-for-card: #000000;
    --grey-text: #292828;
    --nav-bar-text: #3F3C3C;
    --orange-hover: #D76151;
    --accent-red: #B73A2A;
    --color-option-red: #EA2D2C;
    --color-option-orange: #FB5108;
    --color-option-yellow: #D29D12;
    --color-option-card: #353535;

}

body{
    background-color: var(--main-bg);
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.white-text{
    color: white;
}

.img-hover-zoom{
    overflow: hidden;
    border-radius: 10px;
}

.img-hover-zoom:hover img{
    transform: scale(1.1);
    transition: .5s ease;
}

/* Header */
.header-logo{
    background-color: #D76151;
    padding: 6px 15px;
    border-radius: 5px;
    margin-left: 48px;
}

.header-text{
    color: var(--nav-bar-text);

}

.header-sale-text{
    color: var(--accent-red);

}

.header-text:hover, .header-sale-text:hover{
    color: var(--orange-hover);
    text-decoration: underline;
}
/* header */


/* Hero Image */
.hero-img{
    background-image: url(/assets/hero.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 920px;
    max-width: 100%;    
}

.hero-text-bg{
    background-color: #181818CC;
    object-fit: contain;
}

.hero-text-position{
    margin-top: 670px;
    margin-left: 80px;
    margin-bottom: 0px;
}
/* hero image */


/* Promo Bar */
.promo-bar{
    background-color: var(--footer-bg-promo);
    height: 80px;
    margin-bottom: 20px;
}
/* promo bar */


/* Start Cooking Section */
.start-cooking-img{
    width: 330px;
    height: 325px;
}
/* start cooking section */


/* New Arrivals Section */
.flex-box{
    display: flex;
    justify-content: center;
}

.card-size{
    height: 600px;
    max-width: 100%;
    margin-bottom: 100px;
}

.new-arriaval-img{
    height: 550px;
    width: 700px;
    max-width: 100%;
}

.new-arriaval-hover:hover{
    filter: brightness(75%);
}

.new-arriaval-img-padding-right{
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.new-arriaval-img-padding-left{
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.new-arriaval-text-padding-right{
    padding-bottom: 20px;
}

.new-arriaval-text-padding-left{
    padding-right: 10px;
    padding-bottom: 20px;
}

.color-picker-btn-1{
    background-color: var(--color-option-red);
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 50px;
}

.color-picker-btn-2{
    background-color: var(--color-option-orange);
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 50px;
}

.color-picker-btn-3{
    background-color: var(--color-option-yellow);
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 50px;
}

.color-picker-btn-4{
    background-color: var(--color-option-card);
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 50px;
}
/* new arrivals section */


/* Best Sellers Section */
.grid{
    display: grid;
    grid-template-rows: auto-fit 1fr .4fr;
    grid-template-columns: auto auto auto;
    gap: 40px;
    max-width: 100%;
    margin-left: 50px;
    margin-right: 50px;
}

.card-center{
    display: flex;
    justify-content: center;
}

.best-seller-margin{
    margin-top: 100px;
    margin-bottom: 50px;
}

.best-seller-border{
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 24px;
}

.best-seller-img{
    border-radius: 10px;
    width: 400px;
    max-width: 100%;
    height: 338px;
}

.grid-item-1{
    grid-row: 1;
    grid-column: 2;
    display: flex;
    justify-content: center;
}

.grid-item-2{
    grid-row: 2;
 }

.card-1-grid{
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr;
}

.card-item-1{
    display: flex;
    justify-content: center;
}

.card-item-2{
    padding: 10px 0px;
}

.card-btn{
    padding: 5px 30px;
}

.card-btn:hover{
    color: white;
    background-color: #000000;
}

.card-1-item-3{
    padding-bottom: 20px;
}

.grid-item-3{
    grid-row: 2 / span 2;
}

.card-2-item-3{
    padding-bottom: 40px;
}

.grid-item-4{
    grid-row: 2 / span 2;
}

.card-3-item-3{
    padding-bottom: 88px;
}
/* best sellers section */


/* Review */
.review-margin{
    margin-top: 48px;
    margin-bottom: 48px;
}

.review-card-dm{
    height: 600px;
    padding-top: 150px;    
}

.review-card-img-1{
    background-image: url(/assets/Reviews1.jpg);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 125% 100%
}

.review-card-img-2{
    background-image: url(/assets/Reviews2.jpg);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 140% 100%;
    
}

.review-card-img-3{
    background-image: url(/assets/Reviews3.jpg);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

.review-margin-sides{
    margin-left: 10px;
    margin-right: 10px;
}

.review-box-overlay{
    color: white;
    border-radius: 10px;
    background-color: rgba(18,18,18,0.6);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    height: 345px;
    padding: 73px 28px;
}
/* review */


/* Footer */
.footer-bg{
    background-color: var(--footer-bg-promo);
    padding-bottom: 25px;
}

.no-radius{
    border-radius: 0px;
}

.border{
    border: 1px solid white;
}

.line-weight-light{
    font-weight: 50;
}

.footer-btn-padding{
    padding-left: 30px;
    padding-right: 30px;
}
/* footer */

@media (max-width: 992px){
    /* Header */
    .header-logo{
        margin-left: 0px;
        margin-right: 48px;
    }

    .header-text, .header-sale-text {
        font-size: x-large;
    }
    /* header */

    /* Hero Image */
    .hero-img{
        height: 500px; 
        background-size: 100% 100%;  
    }
    
    .font-size{
        font-size: 25px;
    }
    
    .hero-text-position{
        margin-top: 300px;
        margin-left: 80px;
        margin-bottom: 0px;
    }
    /* hero image */

    /* Start Cooking Section */
    .start-cooking-img{
        width: 200px;
        height: 200px;
    }
    /* start cooking section */

    /* New Arrivials */
    .flex-box{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .new-arriaval-box{
        height: 400px;
        margin-bottom: 180px;
        padding-bottom: 40px;
    }

    .new-arriaval-img{
        height: 400px;
        max-width: 100%;
    }

    .new-arriaval-text-padding-right{
        padding-left: 10px;
    }
    
    .new-arriaval-text-padding-left{
        padding-left: 10px;
    }
    
    .new-arriaval-img-padding-right{
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
    }
    
    .new-arriaval-img-padding-left{
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
    }
    /* new arrivial */

    /* Best Sellers */
    .grid{
        grid-template-rows: auto 1fr 1fr .4fr 1fr .4;
        grid-template-columns: auto;
        margin-left: 25px;
    margin-right: 25px;
    }

    .best-seller-img{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        
    }

    .grid-item-grid{
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto 1fr 1fr;
    }

    .grid-item-img{
        grid-row: 1;
        grid-column: span 3;
    }

    .grid-item-heading{
        grid-row: 2;
        grid-column: 1;
    }

    .grid-item-text{
        grid-row: 3;
        grid-column: span 3;
    }

    .grid-item-btn{
        grid-row: 4;
        grid-column: 1;
    }

    .grid-item-1{
        grid-row: 1;
        grid-column: 1;
    }

    .grid-item-2{
        grid-row: 2;
        grid-column: 1;
    }

    .grid-item-3{
        grid-row: span 2;
        grid-column: 1;
    }

    .card-2-item-3{
        padding-bottom: 5px;
    }

    .grid-item-4{
        grid-row: span 2;
        grid-column: 1;
    }

    .card-3-item-3{
        padding-bottom: 5px;
    }
    /* best sellers */

    /* Reviews */

    .review-flex{
        display: flex;
        justify-content: center;
    }

    .review-margin{
        margin-top: 24px;
        margin-bottom: 0px;
    }

    .review-margin-card{
        margin-top: 48px;
        margin-bottom: 0px;
    }
    /* reviews */

    /* Footer */
    .footer-flex{
        display: flex;
        justify-content: center;
    }
    /* footer */
}

@media (max-width: 768px){
    /* Hero Image */
    .hero-img{
         height: 450px;   
    }
        
    .font-size{
        font-size: 20px;
    }
        
    .hero-text-position{
        margin-top: 300px;
        margin-left: 60px;
        margin-bottom: 0px;
    }
    /* hero image */

    /* New Arrivals */
    .new-arriaval-img{
        height: 400px;
        max-width: 100%;
    }
    

    /* Best Seller */
    .grid{
        grid-template-rows: auto-fit 1fr 1fr .4fr 1fr .4;
        grid-template-columns: auto;
        gap: 40px;
    }

    .best-seller-img{
        width: 100%;
        height: 100%;
    }



    .grid-item-grid{
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto 1fr 1fr;
    }

    .grid-item-img{
        grid-row: 1;
        grid-column: span 3;
    }



    .grid-item-1{
        grid-row: 1;
        grid-column: 1;
    }

    .grid-item-2{
        grid-row: 2;
        grid-column: 1;
    }

    .grid-item-3{
        grid-row: 3;
        grid-column: 1;
    }

    .grid-item-4{
        grid-row: 4;
        grid-column: 1;
    }
    /* best seller */
    
    /* Footer */
    .footer-grid{
        display: grid;
        max-width: 100%;
        grid-template-rows: auto auto;
    }

    .footer-grid-item-1{
        padding-left: 50px;
        grid-row: 1;
        grid-column: span 2;
    }

    .footer-grid-item-2{
        grid-row: 2;
    }

    .inner-footer-grid{
        display: grid;
        max-width: 100%;
        grid-template-rows: auto auto;
        grid-template-columns: auto 5%;
    }

    .inner-footer-grid-item-1{
        grid-row: 1;
        grid-column: 1;
    }

    .inner-footer-grid-item-2{
        grid-row: 1;
        grid-column: 2;
    }

    .inner-footer-grid-item-3{
        grid-row: 2;
        grid-column: 1;
    }
    /* footer */
}

@media (max-width: 576px){
    /* Header */
    .header-logo{
        margin-left: 0px;
        margin-right: 0px;
    }
    /* header */

    /* Hero Image */
    .hero-img{
        height: 350px;   
    }
    
    .font-size{
        font-size: 16px;
    }
    
    .hero-text-position{
        margin-top: 200px;
        margin-left: 40px;
        margin-bottom: 0px;
    }
    /* hero image */

    /* New Arriavals */
    .new-arriaval-box{
        height: 400px;
        padding-bottom: 20px;
    }

    .new-arriaval-img{
        height: 300px;
        max-width: 100%;
    }
    /* new arriavals */

    /* Best Seller */
    .grid{
        grid-template-rows: auto-fit 1fr 1fr 1fr ;
        grid-template-columns: auto;
    }

    .best-seller-img{
        width: 100%;
        height: 100%;
    }



    .grid-item-grid{
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto auto auto;
    }

    .grid-item-img{
        grid-row: 1;
        grid-column: span 3;
    }

    .grid-item-text{
        grid-row: 3;
        grid-column: span 2;
    }



    .grid-item-1{
        grid-row: 1;
        grid-column: 1;
    }

    .grid-item-2{
        grid-row: 2;
        grid-column: 1;
    }

    .grid-item-3{
        grid-row: 3;
        grid-column: 1;
    }

    .grid-item-4{
        grid-row: 4;
        grid-column: 1;
    }
    /* best seller */

    /* Reviews */
    .review-margin{
        margin-top: 24px;
        margin-bottom: 0px;
    }

    .review-margin-card{

        margin-left: 12px;
        margin-right: 12px;
    }
    /* reviews */

    /* Footer */
    .footer-grid-item-1{
        padding-left: 20px;
    }

    /* footer */
}

@media (max-width: 440px){
    .start-cooking-img{
       max-width: 100%;
        max-height: 100%;
    }

    .inner-footer-grid{
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
    }

    .inner-footer-grid-item-1{
        grid-row: 1;
        grid-column: 1;
    }

    .inner-footer-grid-item-2{
        grid-row: 2;
        grid-column: 1;
    }

    .inner-footer-grid-item-3{
        grid-row: 3;
        grid-column: 1;
    }
}