:root{
    --main-bg: #EDEDED;
    --footer-bg-promo: #1E2c20;
    --stroke-for-card: #000000;
    --grey-text: #292828;
    --nav-bar-text: #3F3C3C;
    --orange-hover: #D76151;
    --accent-red: #B73A2A;
    --color-option-red: #EA2D2C;
    --color-option-orange: #FB5108;
    --color-option-yellow: #D29D12;
    --color-option-card: #353535;

}

body{
    background-color: var(--main-bg);
}

.white-text{
    color: white;
}

/* Header */
.header-logo{
    background-color: #D76151;
    padding: 6px 15px;
    border-radius: 5px;
}

.header-text{
    color: var(--nav-bar-text);

}

.header-sale-text{
    color: var(--accent-red);

}

.header-text:hover, .header-sale-text:hover{
    color: var(--orange-hover);
    text-decoration: underline;
}
/* header */


/* Hero Image */
.hero-img{
    background-image: url(/assets/hero.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 920px;    
}

.hero-text-bg{
    background-color: #181818CC;
    object-fit: contain;
}

/* .hero-text{
    font-family: ;
    
} */

.hero-text-position{
    margin-top: 670px;
    margin-left: 80px;
    margin-bottom: 0px;
}
/* hero image */


/* Promo Bar */
.promo-bar{
    background-color: var(--footer-bg-promo);
    height: 80px;
    margin-bottom: 20px;
}
/* promo bar */


/* Start Cooking Section */
.start-cooking-img{
    width: 330px;
    height: 325px;
}
/* start cooking section */


/* New Arrivals Section */
.flex-box{
    display: flex;
    justify-content: center;
}

.new-arriaval-img{
    height: 550px;
    width: 700px;
}

.new-arriaval-img-padding-right{
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.new-arriaval-img-padding-left{
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.new-arriaval-text-padding-right{
    padding-bottom: 20px;
}

.new-arriaval-text-padding-left{
    padding-right: 10px;
    padding-bottom: 20px;
}
/* new arrivals section */


/* Best Sellers Section */
.grid{
    display: grid;
    grid-template-rows: auto-fit 1fr .4fr;
    grid-template-columns: repeat(auto-fit, minmax(400px, 450px));
    gap: 40px;
}

.card-center{
    display: flex;
    justify-content: center;
}

.best-seller-margin{
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 25px;
}

.best-seller-border{
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 24px;
}

.best-seller-img{
    border-radius: 10px;
    width: 400px;
    height: 338px;
}

.grid-item-1{
    grid-row: 1;
    grid-column: 2;
    display: flex;
    justify-content: center;
}

.grid-item-2{
    grid-row: 2;
 }

.card-1-grid{
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr;
}

.card-item-1{
    display: flex;
    justify-content: center;
}

.card-item-2{
    padding: 10px 0px;
}

.card-btn{
    padding: 5px 30px;
}

.card-btn:hover{
    color: white;
    background-color: #000000;
}

.card-1-item-3{
    padding-bottom: 20px;
}

.grid-item-3{
    grid-row: 2 / span 2;
}

.card-2-item-3{
    padding-bottom: 40px;
}

.grid-item-4{
    grid-row: 2 / span 2;
}

.card-3-item-3{
    padding-bottom: 88px;
}
/* best sellers section */


/* Review */
.review-card-dm{
    height: 550px;
    width: 550;
    padding-top: 150px;    
}

.review-card-img-1{
    background-image: url(/assets/Reviews1.jpg);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 125% 100%
}

.review-card-img-2{
    background-image: url(/assets/Reviews2.jpg);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 140% 100%;
    
}

.review-card-img-3{
    background-image: url(/assets/Reviews3.jpg);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

.review-box-overlay{
    color: white;
    border-radius: 10px;
    background-color: rgba(18,18,18,0.6);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    height: 345px;
    padding: 73px 28px;
}
/* review */


/* Footer */
.footer-bg{
    background-color: var(--footer-bg-promo);
    padding-bottom: 25px;
}
/* footer */